
main {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: bisque;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}