
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}


body {
    width: 100%;
}

main {
    height: 38.25rem;
    width: 56rem;
    margin: 2rem 0rem;
    margin: auto;
    background-color: cadetblue;
}

.checkout-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    margin: 1rem 0rem 1rem;
    background-color: beige;
}


.form-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    font-weight: 700;
    height: 1.4rem;
    width: 23.25rem;
    margin: 1rem 0rem;

}


form {
    float: left;
    height: auto;
    width: 43%;
    margin: 0rem 1rem 0rem 0rem ;
    min-height: auto;
    min-width: auto;
    /* position: relative; */
    /* display: block; */
    background-color: aqua;
    font-family: 'Montserrat', sans-serif; 
}
    

.section-right {
    float: right;
    background-color: #eee;
    height: 23rem;
    width: 40%;
    padding: 10rem 20rem;
    /* position: absolute; */
    /* top: 0rem; */
    /* bottom: 14rem; */
    /* right: -3.4rem; */
    /* left: 0rem; */
    /* display: flex; */
    border-radius: 10px;
    background-color: bisque;
}

.submit-button {
    clear: both;

}

.image1,
.image2 {
    height: 7rem;
    width: 3rem;
    margin: 0rem 1.3rem 0rem 0rem ;
    min-height: auto;
    /* min-width: auto; */
    display: block;
    border-radius: 10px;
    float: left;
}


.product-info {
    height: 7rem;
    width: 5.75rem;
    min-height: auto;
    /* min-width: auto; */
    display: block;
    float: right;
}




.product-h2 {
    font-weight: 700;
    height: 10px;
    width: 12.75rem;
    display: block;
    margin: 5px 0px;

}

.quantity-controller {
    height: 2.1rem;
    width: 6.3rem;
    border: 1px solid #888888;
    margin: 25px 0 0 0;
    border-radius: 5px;

}


ul {
    list-style: none;
}

li {
    display: inline-block;
}

#email,
#phone,
#fullname,
#address,
#city {
    height: 2rem;
    width: 23.25rem;
    border: 1px solid #828282;
    padding: 0.5rem 0.3rem 0.5rem 2.1rem;
    display: inline-block;
    cursor: text;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

#country-field {
    float: left;
    display: inline-block;
    height: 4.4rem;
    width: 9.5rem;
    margin: 10px 0.5rem 10px 0px;
    background-color: cornflowerblue;
    font-family: 'Montserrat', sans-serif;
}


#postal-code-field {
    float: right;
    clear: right;
    display: inline-block;
    height: 4.4rem;
    width: 13.25rem;
    margin: 10px 0px;
    background-color: chocolate;
    font-family: 'Montserrat', sans-serif;
}

#checkbox {
    
}

#postcode,
#country {
    border: 1px solid #828282;
    border-radius: 5px;

}

#country {
    width: 9rem;
    height: 2rem;
}

label {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;

}

#postcode {
    width: 12rem;
    height: 2rem;

}